$color-highlight: #51c9e1;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f3f3f3;
$color-grey-light-2: #e7e6e6;

$color-grey-dark-1: #2d3439;
$color-grey-dark-2: #42484d;

$border-radius-main: 0.5rem;
