.sidebar {
  background-color: $color-grey-dark-1;
  flex-basis: 40%;
  padding: 5rem;
  overflow-x: hidden;
  overflow-y: scroll;

  @include respond(tab-land) {
    flex-basis: auto;
    height: 100vh;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
