.sidebar {
  background-color: $color-grey-dark-1;
  flex-basis: 40%;
  padding: 5rem;
  overflow-x: hidden;
  overflow-y: scroll;

  @include respond(tab-land) {
    flex-basis: auto;
    height: 50vh;
    padding: 7rem 30rem;
  }

  @include respond(tab-port) {
    padding: 6rem 16rem;
  }

  @include respond(phone) {
    padding: 5rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
