.form {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 0.5fr;
  grid-gap: 1.5rem;
  padding: 2.5rem;
  margin-bottom: 3rem;
  background-color: rgba($color-white, 0.1);
  border-radius: $border-radius-main;
  opacity: 0.95;
}

select,
input {
  width: 100%;
  border-radius: $border-radius-main;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  height: 4rem;
  font-size: 1.75rem;
}

.input {
  background-color: $color-grey-light-2;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $color-white;
  }
}

input::placeholder {
  color: rgba($color-grey-dark-1, 0.3);
}

label {
  display: inline-block;
  padding: 0 0.5rem 0.8rem;
  font-weight: 500;
  font-size: 2rem;
}
