.modal {
  background-color: #f4f4f4;
  height: 30rem;
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity, 0.5s ease-in;
  border-radius: $border-radius-main;

  &__container {
    padding: 5rem;
    text-align: center;
    color: $color-grey-dark-1;
  }

  &__header {
    font-size: 2.75rem;
    padding-bottom: 1rem;
  }

  &__paragraph {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  &__form {
    padding: 2rem;
    text-align: center;
    width: 40rem;
    margin: 0 auto;
  }

  &__input {
    margin-right: 0.4rem;
    width: 10rem;
    text-align: center;
  }

  &__submit {
    width: 9rem;
    text-align: center;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(3px);
  opacity: 1;
  transition: opacity, 0.7s ease-in;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}
