.leaflet {
  &-popup-content-wrapper,
  &-popup-tip {
    background: $color-grey-dark-2 !important;
    color: $color-white !important;
    border-radius: $border-radius-main !important;
  }

  &-popup-content-wrapper {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem !important;
    text-align: left;
    border-radius: $border-radius-main;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0.5rem;
      height: 100%;
      background-color: $color-highlight;
    }
  }

  &-popup &-popup-content {
    font-family: 'Relaway', sans-serif !important;
    letter-spacing: 0.05rem !important;
    font-size: 1.5rem !important;
    font-weight: 300 !important;

    @include respond(phone) {
      font-size: 1.75rem !important;
    }
  }

  &-container a.leaflet-popup-close-button {
    transition: color 0.25s ease-in-out;

    @include respond(tab-land) {
      font-size: 1.4rem !important;
    }

    @include respond(phone) {
      font-size: 1.9rem !important;
    }

    &:hover {
      color: #dfdfdf !important;
    }
  }
}
