.weather {
  position: absolute;
  bottom: 8rem;
  right: 7rem;
  z-index: 2;
  background-color: $color-white;
  padding: 2rem;
  border-radius: $border-radius-main;
  color: $color-grey-dark-1;
  text-align: center;
  min-width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);

  @include respond(tab-land) {
    bottom: 87rem;
    right: 6rem;
  }

  @include respond(tab-port) {
    bottom: 66rem;
    right: 6rem;
  }

  @include respond(phone) {
    display: none;
  }

  &__location {
    font-size: 2rem;
  }

  &__icon {
    width: 5rem;
    padding: 0;
  }

  &__temp {
    color: $color-info;
    font-weight: 600;
    font-size: 1.75rem;
  }
}
