.weather {
  position: absolute;
  bottom: 7rem;
  right: 5.2rem;
  z-index: 2;
  background-color: $color-white;
  padding: 2rem;
  border-radius: $border-radius-main;
  color: $color-grey-dark-1;
  text-align: center;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  @include respond(tab-land) {
    top: 4.4rem;
    right: 4.4rem;
    bottom: initial;
  }

  @include respond(phone) {
    top: 2.2rem;
    right: 2.2rem;
  }

  &__location {
    font-size: 1.5rem;
  }

  &__icon {
    width: 5rem;
    padding: 0;
  }

  &__temp {
    color: $color-info;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
