.workout {
  position: relative;
  list-style: none;
  border-radius: 0 $border-radius-main $border-radius-main 0;
  background-color: rgba($color-white, 0.1);
  border-radius: $border-radius-main;
  padding: 2rem 2rem 2rem 3.5rem;
  opacity: 0.9;
  transition: opacity, 0.25s ease-in;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    background-color: $color-highlight;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-size: 1.75rem;
    padding-bottom: 1.75rem;
  }

  &__delete {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__details {
    font-size: 1.75rem;
    display: flex;
    justify-content: stretch;
  }

  &__distance,
  &__duration,
  &__speed,
  &__kcal {
    margin-right: 2.25rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
