*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-1;
  padding: 4rem;
  display: flex;
  height: 100vh;
  overscroll-behavior-y: none;
}
